<section class="contact">

	<p>You can connect with me via the following:</p>

	<ul class="social-links">
    <li><a href="tel:+447936561301"><i class="fa fa-phone fa-4x"></i></a></li>
    <li><a href="mailto:me@marksy.com" target="_blank"><i class="fa fa-envelope fa-4x"></i></a></li>
		<li><a href="https://twitter.com/marksy" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
		<li><a href="https://github.com/marksy" target="_blank"><i class="fa fa-github fa-4x"></i></a></li>
		<li><a href="https://www.linkedin.com/profile/view?id=AAMAAADE4JIBy_iDM7Qyr0OkeQFVg6Fgk0HD9fg&trk=hp-identity-photo" target="_blank"><i class="fa fa-linkedin fa-4x"></i></a></li>
		<li><a href="https://last.fm/user/mmv7" target="_blank"><i class="fa fa-lastfm fa-4x"></i></a></li>
	</ul>

</section>