// _contact.scss

.social-links {
  text-align: center;
  overflow: hidden;
  li {
    display: inline-block;
    margin: 12px;
  }
}

@media screen and (max-width: 320px) {
  .social-links {
    li {
      margin: 24px;
    }
  }
}